body{
  background-color: black;
  color: white;
}


#store1{
  font-size: 20px;
}

#store2{
  font-size: 20px;
}

#store3{
  font-size: 20px;;
}

#store4{
  font-size: 20px;
}

#store5{
  font-size: 20px;
}