table{
  position: relative;
  margin-top: 60px;
  border-collapse: collapse;
  color: white;
  font-size: .9em;
  border-spacing: 16em;
  display: inline-table;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  vertical-align: center;
  
}



#fishimg{
  position: relative;
  margin-left: 10%;
  float: left;
  border: 1px dashed white;
}


#text{
  float: left;
  margin-left: 10%;
  margin-top: 10%;
  font-family: fantasy;
  font-size: 50px;
  border: 2px solid white;
  color: whitesmoke;
}

#text:hover{
  background-color: salmon;
}

.body{
  background-image: url(https://media2.giphy.com/media/mAegV7Rqy8oWQ/source.gif);
}


.food li{
display: inline;
position: relative;
margin-left: 15%;

}

#fishhead{
  margin-left: 15%;
  margin-bottom: 5%;
}